{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 45.7919039,
    "longitude": 15.9614192,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Dom",
    "time_zone": "Europe/Zagreb",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "HR",
    "language": "hr",
    "radius": 100
  }
}